
#bin folder
/bin/config.sh
/bin/config.sh-e

/.idea
client/cypress/junitReports
client/cypress/screenshots
*.iml

venv

# ignore coverage files
server/cover/
server/.coverage
server/clientartifacts
server/node_modules

static
client/cypress/videos
client/src/react-app-env.d.ts
